include head.jade
div(class='header')
     ul
          li
               p ToolsForEver
          li
               a(href='../pages/logout.php') Logout
          li
               a(href='../html/contact.html') Contact
          li
               a(href='../index.php') Home
          li
               a(href='../pages/account-check.php') Account
          li
               a(href='../pages/users.php') Gebruikers
          li
               a(href='../pages/producten.php') Producten
          li
               a(href='../pages/stock.php') Voorraad
          li
               a(href='../pages/locations.php') Locaties
