//- include head.jade
include header-index.jade
     
div(class='log-reg')
     p Kies een optie om te beginnen!
     button(onclick='location.href="./pages/login.php"') Login
     button(onclick='location.href="./pages/register.php"') Register
